@media(min-width:1200px) and (max-width:1399px){



}

@media(min-width:992px) and (max-width:1199px){



}

@media(min-width:768px) and (max-width:991px){
   
    header{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    header{
        
    
    }



}

@media(min-width:576px) and (max-width:767px){

header ul li{
    display: flex;
    justify-content: center;
    display: none;
}
 header .burger{
    display: block;
} 


}
@media (max-width:575px){
    
}